<div class="container" id='formdk'>
  <div class="row">
    <div class="col-6">
      <form #formDangKy='ngForm' (ngSubmit)='dangKy(formDangKy.value)'>
        <div class="form-group">
          <label for="exampleInputEmail1">Tài Khoản</label>
          <input #taikhoan='ngModel' required minlength='6' maxlength='20' type="text" class="form-control"  placeholder="Nhập tài khoản" name="taiKhoan" ngModel>
          <div *ngIf='taikhoan.errors && (taikhoan.touched || taikhoan.dirty)'>
            <div *ngIf='taikhoan.errors.required' style="color: red;">
              Vui lòng nhập tài khoản
            </div>
            <div *ngIf='taikhoan.errors.minlength || taikhoan.errors.maxlength' style="color: red;">
              Nhập từ 6 đến 20 ký tự
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input #password='ngModel' required minlength='6' maxlength='20' type="password" class="form-control"  placeholder="Password" name="matKhau" ngModel>
          <div *ngIf='password.errors && (password.touched || password.dirty)'>
            <div *ngIf='password.errors.required' style="color: red;">
              Vui lòng nhập mật khẩu
            </div>
            <div *ngIf='password.errors.minlength || password.errors.maxlength' style="color: red;">
              Mật khẩu phải từ 6 đến 20 ký tự
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Họ Tên</label>
          <input #hoten='ngModel'required [pattern]='"^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶ" +
          "ẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợ" +
          "ụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\\s]+$"' type="text" class="form-control"  placeholder="Nhập họ tên" name="hoTen" ngModel>
          <div *ngIf='hoten.errors && (hoten.touched || hoten.dirty)'>
            <div *ngIf='hoten.errors.required' style="color: red;">
              Vui lòng nhập họ tên
            </div>
            <div *ngIf='hoten.errors.pattern' style="color: red;">
              Vui lòng nhập đúng tên
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input #email='ngModel' required [pattern]='"^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@"
          + "[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$"' type="email" class="form-control"  placeholder="Enter email" name="email" ngModel>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div *ngIf='email.errors && (email.touched || email.dirty)'>
            <div *ngIf='email.errors.required' style="color: red;">
              Vui lòng nhập Email
            </div>
            <div *ngIf='email.errors.pattern' style="color: red;">
              Vui lòng nhập đúng Email
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Số điện thoại</label>
          <input #sdt='ngModel' required minlength='10' maxlength='11'  type="text" class="form-control"  placeholder="Nhập SDT" name="soDt" ngModel>
          <div *ngIf='sdt.errors && (sdt.touched || sdt.dirty)'>
            <div *ngIf='sdt.errors.required' style="color: red;">
              Vui lòng nhập số điện thoại
            </div>
            <div *ngIf='sdt.errors.minlength || sdt.errors.maxlength' style="color: red;">
              Số điện thoại phải từ 10 đến 11 số
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Ma nhom </label>
          <!-- <input #manhom='ngModel' required type="text" class="form-control"  placeholder="Nhập Ma nhom" name="manhom" ngModel> -->
          <select name="manhom" value="GP03" ngModel >
            <option value="GP03">GP03</option>
            <option value="GP04">GP04</option>
          </select>
        </div>
        <div class="form-check">
          <input type="radio"  value='khachHang' name="maLoaiNguoiDung" ngModel>
          <label class="form-check-label ml-1" for="exampleCheck1">Khách hàng</label>
          <!-- <input type="radio" class="ml-4" value='QuanTri' name="maLoaiNguoiDung" ngModel>
          <label class="form-check-label ml-1" for="exampleCheck1">Quản trị</label> -->
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Đăng Ký</button>
      </form>
    </div>
    <div class="col-6">
      <img src="https://cdn.lowgif.com/full/c1c6f8aae1da065b-search-results-for-minions-powerpoint-calendar-2015.gif" alt="">
    </div>
  </div>
</div>
