<div class="container" id='contact'>
  <div class="row" >
    <div class="col-12 my-3 text-center">
      <button class="btn  mr-2" style="color: blanchedalmond; font-family: 'Cabin Sketch', cursive; font-size: 15px;" [ngClass]="{'btn-success': showOff}" (click)='playing()'>Phim đang chiếu</button>
      <button class="btn" style="color: blanchedalmond; font-family: 'Cabin Sketch', cursive; font-size: 15px;" [ngClass]="{'btn-success': !showOff }" (click)='upcoming()'>Phim sắp chiếu</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngIf='showOff; else upcomingg'>
      <app-movies-currently-playing></app-movies-currently-playing>
    </div>
    <ng-template #upcomingg>
      <div class="col-12" >
        <app-upcoming-movie></app-upcoming-movie>
      </div>
    </ng-template>
  </div>
</div>
