@media (max-width: 1063px){
  .navbar-nav  {
    margin-left: 450px !important;
  }
}

@media (max-width: 1024px){
  .navbar-nav  {
    margin-left: 485px !important;
  }
  .navbar{
    position: relative;
  }
}

@media (max-width: 992px){
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  flex-basis: auto;
  }
}

@media (max-width: 786px){
  // a.navbar-brand {
  //   margin-left: -150px !important;
  // }
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  margin-left: -240px !important;
  padding-left: 0px !important;
  flex-basis: auto;
  }
}

@media (max-width: 768px){
  // a.navbar-brand {
  //   margin-left: -150px !important;
  // }
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  margin-left: -230px !important;
  padding-left: 0px !important;
  flex-basis: auto;
  }
}

@media (max-width: 759px){
  a.navbar-brand {
    margin-left: -10px !important;
  }
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  margin-left: -230px !important;
  padding-left: 0px !important;
  flex-basis: auto;
  }
}

@media (max-width: 732px){
  a.navbar-brand {
    margin-left: 26px !important;
  }
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  margin-left: -230px !important;
  padding-left: 0px !important;
  flex-basis: auto;
  }
}

@media (max-width: 723px){
  a.navbar-brand {
    margin-left: 49px !important;
  }
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  margin-left: -230px !important;
  padding-left: 0px !important;
  flex-basis: auto;
  }
}

@media (max-width: 631px){
  a.navbar-brand {
    margin-left: 16px !important;
  }
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  margin-left: -230px !important;
  padding-left: 0px !important;
  flex-basis: auto;
  }
}

@media (max-width: 622px){
  a.navbar-brand {
    margin-left: 28px !important;
  }
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  margin-left: -230px !important;
  padding-left: 0px !important;
  flex-basis: auto;
  }
}

@media (max-width: 614px){
  a.navbar-brand {
    margin-left: 10px !important;
  }
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  margin-left: -220px !important;
  padding-left: 0px !important;
  flex-basis: auto;
  }
}

@media (max-width: 590px){
  a.navbar-brand {
    margin-left: 27px !important;
  }
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  margin-left: -290px !important;
  padding-left: 0px !important;
  flex-basis: auto;
  }
}



@media (max-width: 511px){
  a.navbar-brand {
    margin-left: 50px !important;
  }
  .navbar a  {
    font-size: 20px !important;
  }
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  flex-basis: auto;
  margin-left: -300px !important;
  padding-left: 0px !important;
  }
  .navbar{
    position: relative;
  }
}

@media (max-width: 472px){
  .navbar a  {
    font-size: 20px !important;
  }
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  flex-basis: auto;
  margin-left: -150px !important;
  padding-left: 0px !important;
  }
  .navbar{
    position: relative;
  }
}

@media (max-width: 375px){
  .navbar a  {
    font-size: 20px !important;
  }
  .navbar-expand-lg .navbar-collapse
  {
  display: flex!important;
  flex-basis: auto;
  margin-left: -317px !important;
  padding-left: 0px !important;
  }
  .navbar{
    position: relative;
  }

}
