<div class="container">
  <div class="row" id='contact'>
    <div class="col-12  text-center">
      <h2 style="color: blanchedalmond; font-family: 'Luckiest Guy', cursive;" >
        ENTERTAIMENT
      </h2> <br>
    </div>
    <div class="col-md-6 col-sm-12 Col-xm-12 info" >
      <img src="https://s3img.vcdn.vn/123phim/2020/05/batman-vs-joker-ai-tot-ai-xau-15888416485092.png" alt="">
      <h3>Batman vs. Joker: Ai tốt ai xấu?</h3>
      <p>
        Người ta nói Batman có một giàn phản diện hay nhất trong giới truyện tranh cũng như điện ảnh,
        nhưng mình biết chắc chắn khi nghe câu đó người ta chỉ nghĩ đến một người, <br>
        The Joker - Hoàng tử hề của giới tội phạm.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 Col-xm-12 info">
      <iframe
         width="520"
         height="300"
         src="https://www.youtube.com/embed/cqrARyBnURI?list=PLOKwAlFxFXII37LU7ETNICmupor-Xj2M2?rel=0"
         allow='autoplay; '
         frameborder="0"
         allowfullscreen
         >
      </iframe>
    </div>
  </div>
</div> <br>
